
<form method='post' action='signup'>
  <fieldset class='form-group'>
  <label>Your email address</label>
  <input class="form-control" type='email' required name='email'>
  <small>We'll never share your email with anyone else.</small>
  </fieldset>
  <button class='btn btn-primary' type='submit'>Sign Up</button>
</form>

<iframe src=<%= @data["embed_url"] %> width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

<% @data["shows"].each do |show| %>
  <div class="show">
    <p><%= show["performance"][0]["artist"]["displayName"] %></p>
    <p><%= show["start"]["datetime"] %></p>
    <p><%= show["venue"]["displayName"] %></p>

  </div>
<% end %>
