<!doctype html>
<html>
  <head>
    <title>What's Playing? | DC</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" crossorigin="anonymous">
  </head>
  <body>
    <div class='container'>
      <h1><a href='/dc'>What's Playing in DC</a></h1>
      <%= yield %>
    </div>
  </body>
</html>